<nav class="navbar navbar-expand-lgt" style="background:purple;">
    <div class="container-fluid">
      <a href="/">
        <img src="./images/heart.png" href="#" class="navbar-item" width="50px">
      </a>
      <br><br><h1 style="color:white;">CareConnect</h1>
        <span class="navbar-toggler-icon"></span>
      </button>
        <form class="d-flex">
          <a class="btn btn-outline-success" style="color:white;"  href="/login">Login</a>
        </form>
      </div>
    </div>
  </nav>